body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 4em 4em;
  width: 100vw;
  height: auto;
  background-color: var(--periwinkle);
}

nav {
  padding: 1em 10em 0em;
}

/* CSS HEX */
:root {
  --firebrick: #BB2129ff;
  --carrot-orange: #EE962Eff;
  --spanish-blue: #3673ABff;
  --periwinkle: #B9C1DF;
  --space-cadet: #252753ff;
}