.navbar {
  background-color: var(--space-cadet) !important;
  color: white !important;
}

.navbar-menu {
  background-color: var(--space-cadet) !important;
}

.nav-burger {
  color: white !important;
}

.navbar-link {
    text-decoration: none;
}

a {
  text-decoration: none !important;
}

.logo-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}